body {
  background: rgba(68, 111, 146, 0.932);
  color: #fff;
}

.App {
  text-align: center;
  margin: 5%;
}

.App-tittle {
  font-size: 26px;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 75px;
  object-fit: cover;
}

.profile-name {
  font-size: 26px;
}

.profile-followers,
.profile-genrer {
  font-size: 18px;
}
